@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

/*
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}





/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		background-color: #fff;
		color: #777;
	}

	body, input, select, textarea {
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 400;
		line-height: 2em;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6, h10 {
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a ,h10 a{
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.3em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}



	

/* Section/Article */

	section.special, article.special, header.special {
		text-align: center;
	}

	header p {
		margin: 0 0 1.5em 0;
		position: relative;
		text-transform: uppercase;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
		line-height: 1.85em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
		line-height: 1.5em;
	}

	header.major {
		margin-bottom: 4em;
	}

		header.major h2 {
			font-size: 2.5em;
		}

	header.narrow {
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: 1280px) {

		header.narrow {
			max-width: 75%;
		}

	}

	@media screen and (max-width: 980px) {

		header.narrow {
			max-width: 100%;
		}

		header.major {
			margin-bottom: 2em;
		}

			header.major h2 {
				font-size: 2em;
			}

	}

	@media screen and (max-width: 736px) {

		header.major h2 {
			font-size: 1.5em;
		}

		header.major p {
			font-size: 1em;
		}

	}

	header p {
		color: #25383B;
	}




/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 0;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}




/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 2.5em;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 700;
		height: 2.85em;
		line-height: 2.95em;
		min-width: 10em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.2em;
			height: 3.25em;
			line-height: 3.25em;
			padding: 0 2.5em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			cursor: default;
			opacity: 0.25;
		}

		@media screen and (max-width: 980px) {

			input[type="submit"].big,
			input[type="reset"].big,
			input[type="button"].big,
			button.big,
			.button.big {
				font-size: 1em;
			}

		}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: #25383B;
		box-shadow: none;
		color: #fff !important;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #999;
		}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #2f474b;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #1b292b;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #51BAA4;
			box-shadow: none;
			color: #fff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #63c1ae;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #45ad97;
			}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #51BAA4;
			color: #51BAA4 !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

/* Feature */

	.feature {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 6em;
	}

		.feature:last-child {
			margin-bottom: 2em;
		}

		.feature.left {
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
		}

		.feature.right {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}

		.feature .image {
			width: 48%;
		}

			.feature .image img {
				max-width: 100%;
			}

		.feature .content {
			padding: 2em 3em 0.1em 3em;
			width: 52%;
		}

		@media screen and (max-width: 1280px) {

			.feature {
				margin-bottom: 4em;
			}

				.feature .content {
					padding: 1em 2em 0.1em 2em;
				}

		}

		@media screen and (max-width: 980px) {

			.feature.left, .feature.right {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

			.feature .image {
				width: 100%;
			}

				.feature .image img {
					width: 100%;
				}

			.feature .content {
				padding: 2em 2em 0.1em 2em;
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			.feature {
				margin-bottom: 2em;
			}

				.feature .content {
					padding: 2em 1em 0.1em 1em;
				}

		}

	.feature {
		background-color: rgba(144, 144, 144, 0.075);
	}



/* Wrapper */

	.wrapper {
		padding: 8em 0 6em 0;
		position: relative;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 70em;
		}

		.wrapper.style1 {
			background-color: #EEE;
			color: #777;
		}

			.wrapper.style1 input, .wrapper.style1 select, .wrapper.style1 textarea {
				color: #555;
			}

			.wrapper.style1 a {
				color: #51BAA4;
			}

			.wrapper.style1 strong, .wrapper.style1 b {
				color: #555;
			}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5, .wrapper.style1 h6 {
				color: #555;
			}

			.wrapper.style1 blockquote {
				border-left-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style1 code {
				background: #fff;
				border-color: rgba(144, 144, 144, 0.25);
			}

			

			.wrapper.style1 .feature {
				background-color: #fff;
			}

			.wrapper.style1 label {
				color: #555;
			}

			
		
		@media screen and (max-width: 1280px) {

			.wrapper {
				padding: 6em 0 4em 0;
			}

				.wrapper > .inner {
					width: 65em;
				}

		}

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 5em 3em 3em 3em;
			}

				.wrapper > .inner {
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 2em 1em 2em;
			}

		}

		@media screen and (max-width: 480px) {

			.wrapper {
				padding: 2em 1em 0.1em 1em;
			}

		}

/* Header */

	body {
		padding-top: 3.125em;
	}

		body.landing {
			padding-top: 0;
		}

		@media screen and (max-width: 980px) {

			body {
				padding-top: 44px;
			}

		}

	#header {
		background: #07090c;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header > h1 {
			color: #fff;
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

			#header > h1 a {
				font-size: 1.25em;
			}
		#header > h10 {
			color: #fff;
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}
	
			#header > h10 a {
				font-size: 1.25em;
			}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			color: #fff;
			display: inline-block;
			margin-right: 1.25em;
			text-decoration: none;
		}

			

		#header.alt {
			background-color: transparent;
			font-size: 1.25em;
			padding: 1em 2em;
			position: absolute;
		}

			#header.alt > h1 {
				color: inherit;
				position: static;
				float: left;
			}

			#header.alt a[href="#nav"] {
				margin-right: 0;
			}

	@media screen and (max-width: 980px) {

		body {
			padding-top: 44px;
		}

		#header {
			height: 44px;
			line-height: 44px;
		}

			#header > h1 {
				left: 1em;
			}

				#header > h1 a {
					font-size: 1em;
				}


			#header > h10 {
					left: 1em;
			}
				#header > h10 a {
					font-size: 1em;
				}

			#header.alt {
				font-size: 1em;
			}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

			#header > h1 {
				left: 1em;
			}

			#header.alt {
				padding: 0.5em 1em;
			}

	}

/* Nav */

	#nav {
		-moz-transform: translateX(20em);
		-webkit-transform: translateX(20em);
		-ms-transform: translateX(20em);
		transform: translateX(20em);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #07090c;
		box-shadow: none;
		color: #fff;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		text-transform: uppercase;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 10002;
	}

		#nav > ul {
			margin: 0 0 1em 0;
		}

			#nav > ul.links {
				list-style: none;
				padding: 0;
			}

				#nav > ul.links > li {
					padding: 0;
				}

					#nav > ul.links > li > a:not(.button) {
						border: 0;
						border-top: solid 1px transparent;
						color: inherit;
						display: block;
						line-height: 3.5em;
						text-decoration: none;
					}

					#nav > ul.links > li > .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					#nav > ul.links > li:first-child > a:not(.button) {
						border-top: 0 !important;
					}

		#nav .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #a5a9ad;
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#nav .close:before {
				content: "ÔÄç";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#nav .close:before {
				font-size: 1.25em;
			}

			#nav .close:hover {
				color: #fff;
			}

			@media screen and (max-width: 736px) {

				#nav .close {
					height: 4em;
					line-height: 4em;
				}

			}

		#nav.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		@media screen and (max-width: 736px) {

			#nav {
				padding: 2.5em 1.75em;
			}

		}

/* Banner */

	#banner {
		padding: 8em 0 6em 0;
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
		background-attachment: fixed;
		background-image: url("images/overlay.png"), url("../../images/banner.jpg");
		background-size: cover;
		text-align: center;
	}

		#banner input, #banner select, #banner textarea {
			color: #fff;
		}

		

		#banner h1, #banner h2 {
			color: #fff;
		}

	

		

		#banner .icon {
			border-radius: 100%;
			border: solid 2px #fff;
			color: #fff;
			display: inline-block;
			font-size: 3em;
			height: 2.25em;
			line-height: 1.25em;
			margin-bottom: 0.5em;
			padding: 0.5em;
			width: 2.25em;
		}

		

/* Main */

	#main {
		padding: 5em 0 3em 0;
	}

		@media screen and (max-width: 1280px) {

			#main {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#main {
				padding: 3em 0 1em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#main {
				padding: 2em 0 0.1em 0;
			}

		}

/* Footer */

	#footer {
		background-color: #1E2832;
		color: rgba(255, 255, 255, 0.75);
		text-align: center;
	}

		#footer input, #footer select, #footer textarea {
			color: #fff;
		}



		#footer .inner {
			padding: 4em 0 4em 0;
			border-top: solid 1px rgba(255, 255, 255, 0.1);
			margin: 0 auto;
			width: 75%;
		}

		

		#footer .copyright {
			color: #a5a9ad;
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
			text-transform: uppercase;
		}

			#footer .copyright li {
				display: inline-block;
				list-style: none;
				margin: 0 0.1em;
			}

		@media screen and (max-width: 980px) {

			#footer .inner {
				padding: 5em 0 3em 0;
				width: 100%;
			}

		}

		@media screen and (max-width: 736px) {

			#footer .inner {
				padding: 3em 0 1em 0;
			}

			#footer .copyright li {
				display: block;
				margin: 0;
			}

			#footer ul.icons li {
				font-size: 0.9em;
			}

		}

		@media screen and (max-width: 480px) {

			#footer .inner {
				padding: 2em 0 0.1em 0;
			}

		}